<div class="container">
    <div class="card">
        <div class="card-header">
            SIMP CARD
        </div>
        <div class="card-body">
            <div *ngIf="! usuarios.length">No hay usuarios por el momento</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">DIRECCION</th>
                        <th scope="col">ESCUELA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <th>{{usuario.id}}</th>
                        <th>{{usuario.nombre}}</th>
                        <th>{{usuario.direccion}}</th>
                        <th>{{usuario.escuela}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>